# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
m4
intl
autom4te.cache
configure.scan
autoscan.log
*.tar.gz
*.tar.bz2
Makefile
Makefile.in
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config.rpath
configure
install-sh
*.pc
*.spec
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h
stamp-h1
stamp-h.in
conftest
conftest.c
ABOUT-NLS
ChangeLog.cvs
cvs2cl.usermap
