# Travis CI configuration file

sudo: false

language: c

git:
  # Set to 10 instead of 1 to avoid problems when the most recent commits have [skip ci]
  depth: 10

# Install autopoint on Ubuntu (needed for gettext)
# This is ignored on bionic for some reason (see below).
addons:
  apt:
    packages:
    - autopoint

env:
  # More configurations are configured in the matrix section
  matrix:
    - CONFIG=normal
    - CONFIG=c90
    - CONFIG=stackprotect
    - CONFIG=disable-nls
  global:
    - MAKEFLAGS='-j 2'

compiler:
  - clang
  - gcc

os:
  - linux
  - osx

matrix:
  include:
  - env: CONFIG=normal DIST=bionic
    os: linux
    dist: bionic
    compiler: gcc
  - env: CONFIG=normal DIST=bionic
    os: linux
    dist: bionic
    compiler: clang
  - env: CONFIG=clang6 DIST=xenial
    os: linux
    dist: xenial
    compiler: clang
    addons:
      apt:
        packages:
          - autopoint
          - clang-6.0
  - env: CONFIG=clang8 DIST=xenial
    os: linux
    dist: xenial
    compiler: clang
    addons:
      apt:
        sources:
          - llvm-toolchain-trusty-8
        packages:
          - autopoint
          - clang-8
  - env: CONFIG=clang9 DIST=xenial
    os: linux
    dist: xenial
    compiler: clang
    addons:
      apt:
        sources:
          sourceline:
            - deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-9 main
          key_url:
            - https://apt.llvm.org/llvm-snapshot.gpg.key
        packages:
          - autopoint
          - clang-9
  - env: CONFIG=clang10 DIST=xenial
    os: linux
    dist: xenial
    compiler: clang
    addons:
      apt:
        sources:
          sourceline:
            - deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main
          key_url:
            - https://apt.llvm.org/llvm-snapshot.gpg.key
        packages:
          - autopoint
          - clang-10
  - env: CONFIG=gcc8 DIST=xenial
    os: linux
    dist: xenial
    compiler: gcc
    addons:
      apt:
        sources:
          sourceline:
            - ppa:ubuntu-toolchain-r/test
        packages:
          - autopoint
          - g++-8
  - env: CONFIG=gcc9 DIST=xenial
    os: linux
    dist: xenial
    compiler: gcc
    addons:
      apt:
        sources:
          sourceline:
            - ppa:ubuntu-toolchain-r/test
        packages:
          - autopoint
          - g++-9
  - env: CONFIG=arm-cross DIST=xenial
    os: linux
    dist: xenial
    compiler: gcc
    addons:
      apt:
        packages:
          - autopoint
          - gcc-4.8-arm-linux-gnueabihf
          - libc6-dev-armhf-cross
  - env: CONFIG=musl DIST=xenial
    os: linux
    dist: xenial
    compiler: gcc
    addons:
      apt:
        packages:
          - autopoint
          - musl-tools
  - env: CONFIG=sanitize DIST=xenial
    os: linux
    dist: xenial
    compiler: clang
    addons:
      apt:
        sources:
          sourceline:
            - deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main
          key_url:
            - https://apt.llvm.org/llvm-snapshot.gpg.key
        packages:
          - autopoint
          - clang-10
          - libtool
    # Required for -fsanitize=undefined
    # see https://github.com/travis-ci/travis-ci/issues/9033
    sudo: required
  - env: CONFIG=coverage DIST=xenial
    os: linux
    dist: xenial
    compiler: gcc
    addons:
      apt:
        packages:
          - autopoint
          - libpopt-dev
          - subversion
    cache:
      directories:
        - $HOME/failmalloc
  - env: CONFIG=normal DIST=bionic
    arch: arm64
    os: linux
    dist: bionic
    compiler: gcc
  - env: CONFIG=normal DIST=bionic
    arch: ppc64le
    os: linux
    dist: bionic
    compiler: gcc

before_install:
  # The apt addons section is ignored on bionic for some reason
  - if [ "$DIST" = "bionic" ] ; then sudo apt-get install -y autopoint gettext libtool; fi

install:
  - |
    if [ "$CONFIG" = "coverage" ] ; then
      set -e
      pip install --user cpp-coveralls
      cd "$HOME"
      git clone --depth=1 https://github.com/libexif/libexif-testsuite.git
      cd libexif-testsuite
      mkdir src
      ln -s "$TRAVIS_BUILD_DIR" src/libexif
      ./build-config.sh
      autoreconf -sivf
      cd "$HOME"
      # Failmalloc for improved test coverage
      if [ ! -e "$HOME/failmalloc/lib/libfailmalloc.so.0" ] ; then
        curl -fsSORL --retry 8 https://download.savannah.nongnu.org/releases/failmalloc/failmalloc-1.0.tar.gz
        tar xaf failmalloc-1.0.tar.gz
        cd failmalloc-1.0
        # Fix compiling with modern glibc
        sed -i -e 's/\(__malloc_initialize_hook\)/volatile \1/' failmalloc.c
        # Disable failmalloc on program exit so system code can run unimpeded
        sed -i -e '/failmalloc_init/,${/failmalloc_install/aatexit(failmalloc_uninstall);
        }' failmalloc.c
        ./configure --prefix="$HOME/failmalloc" --disable-dependency-tracking
        make
        make install
      fi
      cd "$TRAVIS_BUILD_DIR"
    fi

script:
  # Ensure brew gettext is in the PATH so autopoint is found on OS X
  - PATH="$PATH:/usr/local/opt/gettext/bin" autoreconf -sivf
  - if [ "$CONFIG" = "normal" ] ; then CFLAGS='-Wall -Wextra -O3'; fi
  - if [ "$CONFIG" = "c90" ] ; then CFLAGS='-std=iso9899:1990 -D_XOPEN_SOURCE=500 -Wall -Wextra -O3'; fi
  - if [ "$CONFIG" = "stackprotect" ] ; then CFLAGS='-g -O0 -fstack-protector-all'; fi
  - if [ "$CONFIG" = "disable-nls" ] ; then CFLAGS='-Wall -Wextra -O3'; CONFIGURE_OPTS='--disable-nls'; fi
  - if [ "$CONFIG" = "clang6" ] ; then CFLAGS='-Wall -Wextra -O3'; export CC=clang-6.0; fi
  - if [ "$CONFIG" = "clang8" ] ; then CFLAGS='-Wall -Wextra -Wno-error=switch -O3'; MAKE_OPTS="CFLAGS+=-Werror CFLAGS+=${CFLAGS// / CFLAGS+=}"; export CC=clang-8; fi
  - if [ "$CONFIG" = "clang9" ] ; then CFLAGS='-Wall -Wextra -Wno-error=switch -O3'; MAKE_OPTS="CFLAGS+=-Werror CFLAGS+=${CFLAGS// / CFLAGS+=}"; export CC=clang-9; fi
  - if [ "$CONFIG" = "clang10" ] ; then CFLAGS='-Wall -Wextra -Wno-error=switch -O3'; MAKE_OPTS="CFLAGS+=-Werror CFLAGS+=${CFLAGS// / CFLAGS+=}"; export CC=clang-10; fi
  - if [ "$CONFIG" = "gcc8" ] ; then CFLAGS='-Wall -Wextra -Wno-error=switch -Wno-error=implicit-fallthrough -O3'; MAKE_OPTS="CFLAGS+=-Werror CFLAGS+=${CFLAGS// / CFLAGS+=}"; export CC=gcc-8; fi
  - if [ "$CONFIG" = "gcc9" ] ; then CFLAGS='-Wall -Wextra -Wno-error=switch -Wno-error=implicit-fallthrough -O3'; MAKE_OPTS="CFLAGS+=-Werror CFLAGS+=${CFLAGS// / CFLAGS+=}"; export CC=gcc-9; fi
  - if [ "$CONFIG" = "arm-cross" ] ; then CFLAGS='-Wall -Wextra -O3'; export CC=arm-linux-gnueabihf-gcc-4.8; CONFIGURE_OPTS='--host=arm-linux-gnueabihf'; fi
  - if [ "$CONFIG" = "musl" ] ; then CFLAGS='-Wall -Wextra -O3'; export CC=musl-gcc; CONFIGURE_OPTS='--disable-shared'; fi
  - if [ "$CONFIG" = "sanitize" ] ; then CFLAGS='-g -Wall -Wextra -fsanitize=address -fsanitize=undefined -fsanitize-address-use-after-scope'; export CC=clang-10; export ASAN_OPTIONS=strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:detect_leaks=1; fi
  - if [ "$CONFIG" = "coverage" ] ; then cd "$HOME"/libexif-testsuite; CFLAGS=--coverage; CONFIGURE_OPTS="LDFLAGS=--coverage --with-failmalloc=$HOME/failmalloc/lib"; fi
  - ./configure --prefix="$HOME"/install --disable-dependency-tracking CFLAGS="$CFLAGS" $CONFIGURE_OPTS || { tail -n 300 config.log; false; }

  - make V=1 $MAKE_OPTS
  # Skip tests when cross compiling.
  - if [ "$CONFIG" != "arm-cross" ] ; then make V=1 $MAKE_OPTS check || { tail -n 300 test*/test-suite.log src/libexif/test*/test-suite.log; false; }; fi
  - make V=1 $MAKE_OPTS install

  - if [ "$CONFIG" = "coverage" ] ; then cd "$TRAVIS_BUILD_DIR"; fi

after_success:
  - if [ "$CONFIG" = "coverage" ] ; then coveralls --build-root libexif --exclude test --exclude contrib --gcov-options '\-lp'; fi
